<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire d'inscription</title>
    <link rel="stylesheet" href="CSS/signup.css"> <!-- Lien vers le fichier CSS -->
</head>
<body>
    <%- include("navbar") -%>
    <div class="form-container">
        <h1>Inscription</h1>



        <form action="/signup" method="POST">

         <!-- Champ pour le nom -->
            <div class="form-group">
                <label for="nom">Nom</label>
                <input type="text" id="nom" name="nom" required placeholder="Entrez votre nom">
            </div>

            <!-- Champ pour le prénom -->
            <div class="form-group">
                <label for="prenom">Prénom</label>
                <input type="text" id="prenom" name="prenom" required placeholder="Entrez votre prénom">
            </div>

            <!-- Champ pour l'email -->
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required placeholder="Entrez votre email">
            </div>

            <!-- Champ pour la date de naissance -->
            <div class="form-group">
                <label for="date_naissance">Date de naissance</label>
                <input type="date" id="date_naissance" name="date_naissance" required>
            </div>

            <!-- Champ pour le mot de passe -->
            <div class="form-group">
                <label for="mot_de_passe">Mot de passe</label>
                <input type="password" id="password" name="password" required placeholder="Entrez votre mot de passe">

            </div>

            <!-- Bouton d'envoi -->
            <button type="submit">S'inscrire</button>
        </form>
    </div>

    <%- include('footer') %>

</body>
</html>
